<div class="panel panel-danger">
                    <div class="panel-heading" style="text-align: center;font-size: 20px">分组</div>
                    <div class="panel-body">
                        {% for category in category_set %}
                            <p>
                                <a href="/{{ username }}/category/{{ category.0 }}">{{ category.0 }}({{ category.1 }})</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;font-size: 20px">标签</div>
                    <div class="panel-body">
                        {% for tag in tag_set %}
                            <p>
                                <a href="/{{ username }}/tag/{{ tag.0 }}">{{ tag.0 }}({{ tag.1 }})</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;font-size: 20px">文章档案</div>
                    <div class="panel-body">
                        {% for time in time_set %}
                            <p>
                                <a href="/{{ username }}/archive/{{ time.month| date:'Y-m' }}">
                                    {{ time.month|date:'Y年m月' }}
                                    ({{ time.c }})
                                </a>
                            </p>
                        {% endfor %}

                    </div>
                </div>